<!DOCTYPE html>
<html>
  <head>
    <title>FiveM Status Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      setInterval(() => {
        $.get("/json", (data) => {
          var html = "";
          data.forEach((s) => {
            html += `<p>${s[0]}: ${s[1]}</p>`
          })
          $(".statuses").html(html);
        })
      }, 30000)
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="app">
        <h1 class="header">FiveM Status Page</h1>
        <div class="statuses">
          <% status.forEach((s) => { %>
            <p><%= s[0] %>: <%- s[1] %></p>
          <% }) %>
        </div>
        <p class="footer">Backend by <a class="footer link" href="https://github.com/BeeCodingOfc">BeeCoding</a> | Frontend by <a class="footer link" href="https://github.com/Adam-Morris">Amorris</a></p>
        <a class="footer link" href="https://github.com/BeeCodingOfc/fivemstatus">Source Code</a>
        <p class="footer unrelatedNote">This website is unofficial and is not related or affiliated in any way to the FiveM or CitizenFX team.</p>
      </div>
    </div>

    <!-- This should probably be in a separate file, but meh. -->
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #333;
        color: #bbb;
      }

      .statuses {
        padding-bottom: 0.5em;
      }

      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .app {
        text-align: center;
      }

      .header {
        color: #ddd;
        font-weight: bold;
      }

      .footer {
        color: #666;
      }

      .link {
        text-decoration: underline;
      }

      .unrelatedNote {
        font-size: 10px;
      }

    </style>
  </body>
</html>
