<!--
BEFORE ANYTHING:
I know that this code is shitty, I created this in 15 minutes ¯\_(ツ)_/¯
-->

<!DOCTYPE html>
<html>
  <head>
    <title>FiveM status page</title>
  </head>
  <body>
    <h1>FiveM status page</h1>
    <% status.forEach((s) => { %>
      <p><%= s[0] %>: <%- s[1] %></p>
    <% }) %>
    <br>
    <p>Created by beecoding ¯\_(ツ)_/¯</p>
    <p style="font-style: italic">"I know that it looks shitty but at least it works"</p>
<<<<<<< HEAD

    <!-- This should probably be in a separate file, but meh. -->
    <style>
    body {
      background-color: #333;
      color: #bbb;
      text-align: center;
    }
    </style>
=======
    <a href="https://github.com/BeeCodingOfc/fivemstatus">source code</a>
>>>>>>> a14cba4f62b5141cf73afdb261de81f1c68fc45d
  </body>
</html>
